In [1]:
import os, sys
import pandas as pd
current_dir = os.getcwd()
parent_dir = os.path.dirname(current_dir)
print(parent_dir)
sys.path.insert(0, parent_dir)
from scripts.data_transformation import Transform
trans=Transform()
df=pd.read_csv('../Local_Storage/Preprocessed/edited.csv')

c:\Users\hello\Desktop\git\Insurance-company-analysis-and-prediction

C:\Users\hello\AppData\Local\Temp\ipykernel_17004\3361227059.py:9: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('../Local_Storage/Preprocessed/edited.csv')

In [2]:
trans.feature_engineering(df, '../Local_Storage/Preprocessed/Transformed.csv')

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,ClaimToPremiumRatio,VehicleAge
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.930000,0.0,0.0,11
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.930000,0.0,0.0,11
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.930000,0.0,0.0,11
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.852173,0.0,0.0,11
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.852173,0.0,0.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999250,31520,389,2015-04-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.237953,0.0,0.0,2
999251,31520,389,2015-06-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.237953,0.0,0.0,2
999252,31520,389,2015-08-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,347.237953,0.0,0.0,2
999253,31519,389,2014-07-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315019,0.0,0.0,1
999254,31519,389,2015-02-01,False,ZW,Individual,Mr,English,ABSA Bank,Savings account,...,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315019,0.0,0.0,2

In [3]:
trans.classify_by_cus(df, '../Local_Storage/Preprocessed/per_customer.csv')

,PolicyID,TotalPremium,TotalClaims,make,Province,ClaimToPremiumRatio,RiskCategory
0,14,56.187784,0.0,TOYOTA,Western Cape,0.0,Low Risk
1,15,54.346009,0.0,TOYOTA,Western Cape,0.0,Low Risk
2,16,46.603794,0.0,TOYOTA,Western Cape,0.0,Low Risk
3,17,49.225179,0.0,TOYOTA,Western Cape,0.0,Low Risk
4,18,43.767144,0.0,TOYOTA,Western Cape,0.0,Low Risk
...,...,...,...,...,...,...,...
6992,23239,97.451459,0.0,TOYOTA,KwaZulu-Natal,0.0,Low Risk
6993,23241,125.021255,0.0,TOYOTA,Gauteng,0.0,Low Risk
6994,23244,131.733883,0.0,TOYOTA,Eastern Cape,0.0,Low Risk
6995,23245,115.571618,0.0,TOYOTA,Gauteng,0.0,Low Risk
6996,23246,109.618403,0.0,TOYOTA,Mpumalanga,0.0,Low Risk

In [4]:
trans.classify_by_province(df, '../Local_Storage/Preprocessed/Classifcation_by_province.csv')

        Province  TotalPremium  TotalClaims  ClaimToPremiumRatio RiskCategory
0   Eastern Cape    113.352674    44.719328             0.150248     Low Risk
1     Free State     90.499022    43.822975             0.124950     Low Risk
2        Gauteng    103.094659    74.710641         48279.419115    High Risk
3  KwaZulu-Natal    120.268050    84.356519         25870.738494    High Risk
4        Limpopo     88.901460    40.927553             0.232392     Low Risk
5     Mpumalanga     92.020703    38.859010             0.235069     Low Risk
6     North West     85.667340    41.317426             0.185573     Low Risk
7  Northern Cape     88.080344    14.026726             0.116387     Low Risk
8   Western Cape     98.433088    57.689881          3078.542375     Low Risk